<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Ethereum Derivatives Builder</title>

    <link rel=stylesheet type=text/css
          href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-deep_purple.min.css">
    <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
    <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">-->
        <link rel=stylesheet type=text/css href="/static/css/style.css">
        <link rel=stylesheet type=text/css href="/static/css/home.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>





        <script type="text/javascript">
        function createTimestamp(type) { 
        var deliveryDate = document.getElementById('deliverydate').value
        var currentUnix = Math.round(+new Date()/1000);
        var deliveryUnix = (parseInt(deliveryDate, 10) * 24 * 60 * 60) + parseInt(currentUnix, 10)
        var id = type+'Timestamp';
        document.getElementById(id).value = deliveryUnix;
        }
        </script>



<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
.demo-layout-transparent {
  background: url('https://images.unsplash.com/photo-1424894408462-1c89797f2305?ixlib=rb-0.3.5&q=80&fm=jpg&s=42e7627aa059098be72974d544c04f2f') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
</style>

<!-- Square card -->
<style>
.demo-card-wide.mdl-card {
  width:100%;
  height:100%;
  color: #341151;
    margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-right: 70px;
      padding: 70px;
    }
</style>

<style>
h1 {
    text-align: center;
}
</style>

<style>
   .mdl-textfield {
  width: 50%;
}
</style>




<body class="mdl-demo mdl-color--black mdl-color-text--grey-400 mdl-base">
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Ethereum Derivatives</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/register">Register</a>
        <a class="mdl-navigation__link" href="/login">Log In</a>
        <a class="mdl-navigation__link" href="/logout">Log Out</a>
        <a class="mdl-navigation__link" href="/mycontracts">My Derivatives</a>
        <a class="mdl-navigation__link" href="/spotprices">Current Spot Prices</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Create Derivatives</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/futureethereum">Create Ethereum Future</a>
      <a class="mdl-navigation__link" href="/swapethereum">Create Ethereum Swap</a>
      <a class="mdl-navigation__link" href="/putoptionethereum">Create Ethereum Put Option</a>
    </nav>
  </div>
  <main class="mdl-layout__content">

                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">

        <h1>Call Option Contract for Ethereum</h1>

    <!-- Simple Textfield -->
<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="buyeraddress"  id="buyeraddress">
    <label class="mdl-textfield__label" for="buyeraddress">Enter the 40 Character Ethereum Address for the Buyer, If Any</label>
  </div>
</form>

    <!-- Simple Textfield -->
<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="selleraddress"  id="selleraddress">
    <label class="mdl-textfield__label" for="selleraddress">Enter the 40 Character Ethereum Address for the Seller</label>
  </div>
</form>

    <!-- Numeric Textfield -->
<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="margin"  id="margin" pattern="-?[0-9]*(\.[0-9]+)?" step="any">
    <label class="mdl-textfield__label" for="margin">Enter a Margin For This Contract</label>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>
</form>

    <!-- Numeric Textfield -->
<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="numberofshares" id="numberofshares" pattern="-?[0-9]*(\.[0-9]+)?" step="any">
    <label class="mdl-textfield__label" for="numberofshares">Enter the Number of Shares You Desire</label>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>
</form>

    <!-- Numeric Textfield -->
<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="units" id="units" pattern="-?[0-9]*(\.[0-9]+)?" step="any">
    <label class="mdl-textfield__label" for="units">Enter the Number of Units You Desire</label>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>
</form>


               <form id="commoditieslist" name="commoditieslist">
            		<select id="commodity" onchange="callApi('commodity', spotprice)">
                        <option value disabled selected> -- Select A Commodity -- </option>
                        <option value="corn">Corn</option>
                        <option value="oats">Oats</option>
                        <option value="rice">Rice</option>
                        <option value="soybeans">Soybeans</option>
                        <option value="soybeanmeal">Soybean Meal</option>
                        <option value="soybeanoil">Soybean Oil</option>
                        <option value="wheat">Wheat</option>
                        <option value="minnesotawheat">Minnesota Wheat</option>
                        <option value="chicagowheat">Chicago Wheat</option>
                        <option value="kcwheat">K.C. Wheat</option>
                        <option value="barley">Barley</option>
                        <option value="skimmedmilk">Skimmed Milk</option>
                        <option value="cheese">Cheese</option>
                        <option value="butter">Butter</option>
                        <option value="cocoa">Cocoa</option>
                        <option value="coffee">Coffee</option>
                        <option value="coffeerobustica">Coffee Robustica</option>
                        <option value="coffeearabica">Coffee Arabica</option>
                        <option value="cotton">Cotton</option>
                        <option value="sugarno11">Sugar No. 11</option>
                        <option value="frozenconcentratedorangejuice">Frozen Concentrated Orange Juice</option>
                        <option value="wool">Wool</option>
                        <option value="leanhogs">Lean Hogs</option>
                        <option value="livecattle">Live Cattle</option>
                        <option value="feedercattle">Feeder Cattle</option>
                        <option value="brentcrude">Brent Crude</option>
                        <option value="crudeoil">Crude Oil</option>
                        <option value="naturalgas">Natural Gas</option>
                        <option value="gulfcoastgasoline">Gulf Coast Gasoline</option>
                        <option value="rbobgasoline">RBOB Gasoline</option>
                        <option value="propane">Propane</option>
                        <option value="copper">Copper</option>
                        <option value="lead">Lead</option>
                        <option value="zinc">Zinc</option>
                        <option value="tin">Tin</option>
                        <option value="aluminum">Aluminum</option>
                        <option value="nickel">Nickel</option>
                        <option value="cobalt">Cobalt</option>
                        <option value="coal">Coal</option>
                        <option value="molybdenum">Molybdenum</option>
                        <option value="steel">Steel</option>
                        <option value="gold">Gold</option>
                        <option value="silver">Silver</option>
                        <option value="platinum">Platinum</option>
                        <option value="palladium">Palladium</option>
                        <option value="rhodium">Rhodium</option>
                        <option value="palmoil">Palm Oil</option>
                        <option value="rubber">Rubber</option>
                        <option value="lumber">Lumber</option>
                </select>
        </form>

        <script>
        function callApi(commodity, spotpricejson) {
        var id = document.getElementById(commodity).value;
        var idString = id.toString();
        <!--if (idString == 'wheat') {-->

        <!--{% for s in spotprice %}-->

<!--{% if s.commodity|string == idString|string %}-->

document.getElementById("apifield").value = spotpricejson;

<!--{% endif %}-->

<!--{% endfor %}-->

        <!--var xmlhttp = new XMLHttpRequest();-->


        <!--xmlhttp.onreadystatechange = function() {-->
        <!--if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {-->
        <!--var parsedJSON = JSON.parse(xmlhttp.responseText);-->
        <!--var newPrice = parsedJSON[1];-->
        <!--var newPriceString = newPrice.toString();-->
        <!--document.getElementById("apifield").value = newPriceString;-->
        <!--}-->
        <!--};-->
        <!--xmlhttp.open("GET", 'http://www.quandl.com/api/v3/datasets/WSJ/WHEAT_1/data.json?api_key=vpiAmDEqu8LuxCupy7ab', true);-->
        <!--xmlhttp.send();-->
        <!--document.getElementById("apifield").value = idString;-->

        <!--document.getElementById("apifield").value = "hello";-->
        <!--httpGet('http://www.quandl.com/api/v3/datasets/WSJ/WHEAT_1/data.json?api_key=vpiAmDEqu8LuxCupy7ab');-->


        <!--var apiResponseString = apiResponse.toString();-->
        <!--document.getElementById("apifield").value = apiResponseString;-->
        <!--var xmlHttp = new XMLHttpRequest();-->
        <!--xmlHttp.onreadystatechange = function() {-->
        <!--if (xmlHttp.readyState == 4 && xmlHttp.status == 200){-->
        <!--callback(xmlHttp.responseText);-->
        <!--var response = str(xmlHttp.open("GET", 'http://www.quandl.com/api/v3/datasets/WSJ/WHEAT_1/data.json?api_key=vpiAmDEqu8LuxCupy7ab', true)); // true for asynchronous-->
        <!--var responseString = response.toString();-->
        <!--document.getElementById("apifield").value = responseString;-->
        <!--xmlHttp.send(null);-->
        <!--}-->
        <!--}-->
        <!--else {-->
        <!--document.getElementById("apifield").value = idString;-->
        <!--}-->
        }
        </script>

            <script>

<!--function httpGet(theUrl)-->
<!--{-->
    <!--var xmlHttp = new XMLHttpRequest();-->
    <!--xmlHttp.open("GET", theUrl, true); // false for synchronous request-->
    <!--xmlHttp.send();-->
    <!--document.getElementById("apifield").innerHTML = xmlHttp.responseText;-->
<!--}-->
        </script>

            <!--<script>-->
        <!--function fillApi() {-->
        <!--var price = document.getElementById('price').value;-->
        <!--var units = document.getElementById('units').value;-->
        <!--var contractValue = parseFloat(price, 10) * parseInt(units, 10);-->
        <!--var buyerAddress = document.getElementById('buyeraddress').value;-->
        <!--var sellerAddress = document.getElementById('selleraddress').value;-->
        <!--var commodity2 = document.getElementById('commodity').value;-->
        <!--var unitsString = units.toString();-->
        <!--var assetString = unitsString+commodity2;-->
        <!--var deliverydateTimestamp2 = document.getElementById('deliverydateTimestamp').value;-->
        <!--var margin2 = document.getElementById('margin').value;-->
        <!--document.getElementById("contractfield").value = "contract MyFuture{\n\naddress buyer = msg.sender;\naddress seller = "+buyerAddress+";\nvar contractvalue = "+contractValue+";\nasset= "+assetString+";\nuint constant deliverydate ="+deliverydateTimestamp2+";\nbool cancelled = false;\n"+sellerAddress+".send("+margin2+");\n\nfunction myDeliveryDate(transactionId, spotPrice){\nif((msg.value>= contractvalue) && (now => deliverydate) && cancelled == false) {\n"+sellerAddress+".send(msg.value);\nsendareceiptofthetransactiontotheprimisee;}\n\nfunction myCancel(){\n"+sellerAddress+".send("+margin2+");suicide(buyerAddress);}\n\n}";-->
        <!--}-->
        <!--</script>-->

<textarea class="mdl-color--white" rows="10" cols="20" type="text" id="apifield"
                                          style="font-size:12px" placeholder={{spotpricejson}} ></textarea>


{% for s in spotprice %}

{% if s.commodity|string == 'commodity' %}

{{ s.spotprice }}

{% endif %}

{% endfor %}


    <!-- Numeric Textfield -->
<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="price" id="price" pattern="-?[0-9]*(\.[0-9]+)?" step="any">
    <label class="mdl-textfield__label" for="price">Enter a Future Price</label>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>
</form>

    <br>Set contract execution date:
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                        <input class="mdl-textfield__input" type="date" pattern="-?[0-9]*(\[0-9]+)?"
                                               name="deliverydate" id="deliverydate"
                                               onchange="createTimestamp('deliverydate')"/>
                                        <label class="mdl-textfield__label" for="deliverydate"></label>
                                    </div>


<div>
                                        Unix timestamp: <input class="mdl-color--white" type="text" value=""
                                                               id="deliverydateTimestamp" name="deliverydateTimestamp"
                                                               style="border: 0px; font-size:16px" disabled/>
                                    </div>

                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                        onclick="add()">
                                    Compile Your Contract Into Solidity Code
                                </button>

        <script>
        function add() {
        var price = document.getElementById('price').value;
        var units = document.getElementById('units').value;
        var contractValue = parseFloat(price, 10) * parseInt(units, 10);
        var buyerAddress = document.getElementById('buyeraddress').value;
        var sellerAddress = document.getElementById('selleraddress').value;
        var commodity2 = document.getElementById('commodity').value;
        var unitsString = units.toString();
        var assetString = unitsString+commodity2;
        var deliverydateTimestamp2 = document.getElementById('deliverydateTimestamp').value;
        var margin2 = document.getElementById('margin').value;
        document.getElementById("contractfield").value = "contract MyFuture{\n\naddress buyer = msg.sender;\naddress seller = "+buyerAddress+";\nvar contractvalue = "+contractValue+";\nasset= "+assetString+";\nuint constant deliverydate ="+deliverydateTimestamp2+";\nbool cancelled = false;\n"+sellerAddress+".send("+margin2+");\n\nfunction myDeliveryDate(transactionId, spotPrice){\nif((msg.value>= contractvalue) && (now => deliverydate) && cancelled == false) {\n"+sellerAddress+".send(msg.value);\nsendareceiptofthetransactiontotheprimisee;}\n\nfunction myCancel(){\n"+sellerAddress+".send("+margin2+");suicide(buyerAddress);}\n\n}";
        }
        </script>


<textarea rows="20" cols="80" type="text" id="contractfield" name="contractfield">
</textarea>




  <div class="mdl-card__actions mdl-card--border">
    
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
                </section>

  </main>
</div>

        </form>

        <br/><br>


        <br><br>
        <p><b>Using Alethzero (Ethereum’s C++ GUI), send an unaddressed transaction with this code in its data field. Be sure to endow your contract (via amount field) with an amount of ethere greater than the sum of your margin and contract value. Sending that transaction will inject your contract onto the blockchain.
        <br><br>
        Once you have injected the contract on the blockchain, a transaction address will be assigned to it. If the delivery date arrives and you wish to execute your contract, plug in a transaction address and spot price below. Then, put the code generated here into the data field of a new message —this time, addressed to the transaction address— and watch your contract execute:<br><br></b></p>
  	

        <p><b>The Transaction ID Is:</b></p>
        <input type="text" name="transactionid" id="transactionid">(A 60 character string. E.g., g6aaae06717f25095eab8250369a437e549160a4g6aaae06717f25095eab)<br><br><br>

        <p><b>The Spot Price —I.e., the Current Price of The Commodity— Is:</b></p>
        <input type="number" name="spotprice" id="spotprice" step="any">(enter the spot price here)<br><br><br>

 <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br> <br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br>


        <input type="button" value="Create Code to Send Transaction on Delivery Date" onclick="add2()"/><br><br>

        <script>
        function add2() {
        var transactionId = document.getElementById('transactionid').value;
        var spotPrice = document.getElementById('spotprice').value;
        document.getElementById("contractfield2").value = "contract MyMaturity{\n\nMyFuture feed;\n\nfunction setFeed(address addr){feed = MyFuture(addr);}\n\nfunction callFeed(){feed.MyDeliveryDate();}\n\ncallFeed("+transactionId+","+spotPrice+");\n\n}";
        document.getElementById("contractfield3").value = "contract myCancellation{\n\nMyFuture feed;\n\nfunction setFeed(address add){feed = MyFuture(addr);}\n\nfunction callFeed(){feed.myCancel();}\n\ncallFeed();\n\n}";
        }
        </script>

        <textarea rows="15" cols="80" type="text" id="contractfield2" name="contractfield2">
        </textarea>

        <br><br>
        <p><b>Lastly, if you wish to cancel your futures contract, send a transaction, addressed to the transaction ID and with this code in the data field:</b></p><br> 
        <textarea rows="10" cols="80" type="text" id="contractfield3" name="contractfield3">
        </textarea>




  <form action="{{ url_for('main_future') }}" method=post>
    <dl>
      <dt>buyer ethereum address:
      <dd><input type=text name=buyerethereumaddress>
      <dt>seller ethereum address:
      <dd><input type=text name=sellerethereumaddress>
      <dt>deliverydate:
      <dd><input type=number name=deliverydate>
      <dt>numberofunits:
      <dd><input type=number name=numberofunits>
      <dt>commodityname:
      <dd><input type=text name=commodityname>
      <dt>price:
      <dd><input type=number name=price>
      <dt>margin:
      <dd><input type=number name=margin>
      <dt>soliditycodeinitial:
      <dd><input type=text name=soliditycodeinitial>
      <dd><input type=submit value=Post>
    </dl>
  </form>



        
        <br><br>
        <footer class="footer">
            <p>&copy; Bill Marino 2015</p>
        </footer>
 
    </div>
</body>
</html>