
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Ethereum Derivatives Builder</title>

    <link rel=stylesheet type=text/css
          href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-deep_purple.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


        <script type="text/javascript">
        function createTimestamp(type) { 
        var expiryDate = document.getElementById('expirydate').value
        var currentUnix = Math.round(+new Date()/1000);
        var expiryUnix = (parseInt(expiryDate, 10) * 24 * 60 * 60) + parseInt(currentUnix, 10)
        var id = type+'Timestamp';
        document.getElementById(id).value = expiryUnix;
        }
        </script>

<style>
.demo-layout-transparent {
  background: url('https://images.unsplash.com/photo-1424894408462-1c89797f2305?ixlib=rb-0.3.5&q=80&fm=jpg&s=42e7627aa059098be72974d544c04f2f') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
</style>

<!-- Square card -->
<style>
.demo-card-wide.mdl-card {
  width:100%;
  height:100%;
  color: #341151;
    margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-right: 70px;
      padding: 70px;
    }
</style>

<style>
h1 {
    text-align: center;
}
</style>

<style>
   .mdl-textfield {
  width: 50%;
}
</style>

<body class="mdl-demo mdl-color--black mdl-color-text--grey-400 mdl-base">
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Ethereum Derivatives</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">{% if current_user.is_authenticated %}
  You are logged in as: {{ current_user.email }}
{% endif %}</a>
        <a class="mdl-navigation__link" href="/register">Register</a>
        <a class="mdl-navigation__link" href="/login">Log In</a>
        <a class="mdl-navigation__link" href="/logout">Log Out</a>
        <a class="mdl-navigation__link" href="/mycontracts">Your Contracts</a>
        <a class="mdl-navigation__link" href="/spotprices">Current Spot Prices</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Create Derivatives</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Home</a>
      <a class="mdl-navigation__link" href="/futureethereum">Create Future</a>
      <a class="mdl-navigation__link" href="/putoptionethereum">Create Put Option</a>
      <!--<a class="mdl-navigation__link" href="/swapethereum">Create Swap</a>-->
      <a class="mdl-navigation__link" href="/mycontracts">Your Contracts</a>
      <a class="mdl-navigation__link" href="/spotprices">Current Spot Prices</a>
      <a class="mdl-navigation__link" href="/tutorial">Tutorial</a>
      <a class="mdl-navigation__link" href="/register">Register</a>
      <a class="mdl-navigation__link" href="/login">Log In</a>
      <a class="mdl-navigation__link" href="/calloptionethereum">Log Out</a>
    </nav>
  </div>
  <main class="mdl-layout__content">

                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">

        <h1>Call Option Contract for Ethereum</h1>

  <form action="{{ url_for('main_call_option') }}" method=post class=add-entry id="usrform">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="buyerethereumaddress"  id="buyerethereumaddress">
    <label class="mdl-textfield__label" for="buyerethereumaddress">Enter the 40 Character Ethereum Address for the Buyer, If Any</label>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="sellerethereumaddress"  id="sellerethereumaddress">
    <label class="mdl-textfield__label" for="sellerethereumaddress">Enter the 40 Character Ethereum Address for the Seller</label>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="numberofunits" id="numberofunits" pattern="-?[0-9]*(\.[0-9]+)?" step="any">
    <label class="mdl-textfield__label" for="numberofunits">Enter the Number of Units You Desire</label>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>

  <div>
    <select id="assetname" name="assetname">
     <option value disabled selected> -- Select An Asset -- </option>
     <option value="corn">Corn</option>
     <option value="oats">Oats</option>
     <option value="rice">Rice</option>
     <option value="soybeans">Soybeans</option>
     <option value="soybeanMeal">Soybean Meal</option>
     <option value="soybeanOil">Soybean Oil</option>
     <option value="wheat">Wheat</option>
     <option value="minnesotaWheat">Minnesota Wheat</option>
     <option value="chicagoWheat">Chicago Wheat</option>
     <option value="kansasCityWheat">K.C. Wheat</option>
     <option value="barley">Barley</option>
     <option value="skimmedMilk">Skimmed Milk</option>
     <option value="cheese">Cheese</option>
     <option value="butter">Butter</option>
     <option value="cocoa">Cocoa</option>
     <option value="coffee">Coffee</option>
     <option value="coffeeRobusta">Coffee Robusta</option>
     <option value="coffeeArabica">Coffee Arabica</option>
     <option value="cotton">Cotton</option>
     <option value="sugar11">Sugar No. 11</option>
     <option value="orangeJuice">Orange Juice</option>
     <option value="wool">Wool</option>
     <option value="hogs">Lean Hogs</option>
     <option value="liveCattle">Live Cattle</option>
     <option value="feederCattle">Feeder Cattle</option>
     <option value="brentCrude">Brent Crude</option>
     <option value="crudeOil">Crude Oil</option>
     <option value="naturalGas">Natural Gas</option>
     <option value="gulfCoastGasoline">Gulf Coast Gasoline</option>
     <option value="rbobGasoline">RBOB Gasoline</option>
     <option value="propane">Propane</option>
     <option value="copper">Copper</option>
     <option value="lead">Lead</option>
     <option value="zinc">Zinc</option>
     <option value="tin">Tin</option>
     <option value="aluminum">Aluminum</option>
     <option value="nickel">Nickel</option>
     <option value="cobalt">Cobalt</option>
     <option value="coal">Coal</option>
     <option value="molybdenum">Molybdenum</option>
     <option value="steel">Steel</option>
     <option value="gold">Gold</option>
     <option value="silver">Silver</option>
     <option value="platinum">Platinum</option>
     <option value="palladium">Palladium</option>
     <option value="rhodium">Rhodium</option>
     <option value="palmOil">Palm Oil</option>
     <option value="rubber">Rubber</option>
     <option value="lumber">Lumber</option>
     </select>
  </div><br>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="callApi({{spotpriceslist}}); return false;">
Get Current Spot Price of This Asset
</button><br>
        <script>
        function callApi(spotpricesData) {
        var assetName = document.getElementById('assetname').value;
        var assetString = assetName.toString();
        <!--document.getElementById("apifield").value = assetString;-->
        <!--document.getElementById("apifield").value = assetString;-->
        <!--&lt;!&ndash;spotpricesData = $('#my-data').data();&ndash;&gt;-->
        var notFound = true;
        for(var key in spotpricesData) {
        if(spotpricesData.hasOwnProperty(key)) {if (key == assetString){document.getElementById("apifield").value = spotpricesData[key]; notFound = false;}
        }
        }
        if (notFound){document.getElementById("apifield").value = "Spot Price Temporarily Unavailable";}
        }
        </script>

      <br><div>
<textarea class="mdl-color--white" rows="20" cols="50" type="text" id="apifield"
                                          style="font-size:12px" placeholder={{spotpriceslist}}></textarea>



</div>
    <br>Set contract expiry date:<br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                        <input class="mdl-textfield__input" type="date" pattern="-?[0-9]*(\[0-9]+)?"
                                               name="expirydate" id="expirydate"
                                               onchange="createTimestamp('expirydate')"/>
                                        <label class="mdl-textfield__label" for="expirydate"></label>
                                    </div>

<div>
                                        Unix timestamp: <input class="mdl-color--white" type="text" value=""
                                                               id="expirydateTimestamp" name="expirydateTimestamp"
                                                               style="border: 0px; font-size:16px">
                                    </div>

  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="strikeprice" id="strikeprice" pattern="-?[0-9]*(\.[0-9]+)?" step="any">
    <label class="mdl-textfield__label" for="strikeprice">Enter a Strike Price</label>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" name="premium"  id="premium" pattern="-?[0-9]*(\.[0-9]+)?" step="any">
    <label class="mdl-textfield__label" for="premium">Enter a Premium For This Contract</label>
    <span class="mdl-textfield__error">Input is not a number!</span>
  </div>

    <br>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="add(); return false;">
                                    Compile Your Contract Into Solidity Code
                                </button> <br>

        <script>
        function add() {
        var strikeprice = document.getElementById('strikeprice').value;
        var numberofunits = document.getElementById('numberofunits').value;
        var contractValue = parseFloat(strikeprice, 10) * parseInt(numberofunits, 10);
        var buyerEthereumAddress = document.getElementById('buyerethereumaddress').value;
        var sellerEthereumAddress = document.getElementById('sellerethereumaddress').value;
        var asset2 = document.getElementById('assetname').value;
        var numberofunitsString = numberofunits.toString();
        var assetString = numberofunitsString+asset2;
        var expirydateTimestamp2 = document.getElementById('expirydateTimestamp').value;
        var premium2 = document.getElementById('premium').value;
        document.getElementById("soliditycodeinitial").value = "contract MyFuture{\n\naddress buyer = msg.sender;\naddress seller = "+buyerEthereumAddress+";\nvar contractvalue = "+contractValue+";\nasset= "+assetString+";\nuint constant expirydate ="+expirydateTimestamp2+";\nbool cancelled = false;\n"+sellerEthereumAddress+".send("+premium2+");\n\nfunction myExpiryDate(transactionId, spotPrice){\nif((msg.value>= contractvalue) && (now => expirydate) && cancelled == false) {\n"+sellerEthereumAddress+".send(msg.value);\nsendareceiptofthetransactiontotheprimisee;}\n\nfunction myCancel(){\n"+sellerEthereumAddress+".send("+premium2+");suicide(buyerEthereumAddress);}\n\n}";
        document.getElementById("contractfield2").value = "contract MyMaturity{\n\nMyFuture feed;\n\nfunction setFeed(address addr){feed = MyFuture(addr);}\n\nfunction callFeed(){feed.MyExpiryDate();}\n\ncallFeed(%TRANSACTIONID%,%SPOTPRICE%);\n\n}";
        document.getElementById("contractfield3").value = "contract myCancellation{\n\nMyFuture feed;\n\nfunction setFeed(address add){feed = MyFuture(addr);}\n\nfunction callFeed(){feed.myCancel();}\n\ncallFeed();\n\n}";
        }
        </script>

<br>
Initial Code to Create Contract:<br>
<textarea rows="20" cols="80" type="text" id="soliditycodeinitial" name="soliditycodeinitial">
</textarea>

<br>
Code to Send Upon Expiry Date:<br>
        <textarea rows="15" cols="80" type="text" id="contractfield2" name="contractfield2">
        </textarea>
<br>
Code to Cancel Contract:<br>
        <textarea rows="10" cols="80" type="text" id="contractfield3" name="contractfield3">
        </textarea><br>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Save">
    Save This Contract</button>
        </form>

  <div class="mdl-card__actions mdl-card--border">
    
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
                </section>

  </main>
</div>

        <footer class="footer">
            <p>&copy; Bill Marino 2015</p>
        </footer>
 
    </div>

</body>

</html>