<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
 
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}  

{% if current_user.is_authenticated %}
  You are logged in as: {{ current_user.email }}!
{% endif %}

<head>
    <title>Blockchain Derivatives Builder</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Log In</a>
                    </li>
                    <li role="presentation"><a href="/logout">Log Out</a>
                    </li>
                    <li role="presentation"><a href="/register">Register</a>
                    </li>
                </ul>
            </nav>
        </div>

{% if current_user.is_authenticated %}
    <li><a href="/mycontracts">My Contracts</a></li>
{% endif %}

        <br><br><div class="jumbotron">
            <h1>Blockchain Derivative Builder</h1>
            <p class="lead"></p></div>

        <h1><span>Future Contract on Ethereum</span></h1>

        <script type="text/javascript">
        function updateText(type) { 
        var id = type+'Text';
        document.getElementById(id).value = document.getElementById(type).value;
        }
        </script>


  <form action="{{ url_for('main_future') }}" method=post class=add-entry id="usrform">

  <label for="buyerethereumaddress">The Buyer and Futures Holder, whose Ethereum address is:</label><br>
  <input type="text" name="buyerethereumaddress" id="buyerethereumaddress" placeholder="Enter The Buyer’s 40-Character Ethereum Address" class="mytext">
<br><br><br>

  <label for="sellerethereumaddress">Agrees to buy from the Seller, whose Ethereum address is:</label><br>
  <input type="text" name="sellerethereumaddress" id="sellerethereumaddress" placeholder="Enter The Seller’s 40-Character Ethereum Address" class="mytext"> <br><br><br>

  <label for="numberofunits">The right to purchase from Seller:</label><br>
  <input type="text" name="numberofunits" id="numberofunits" placeholder="Enter A Number of Units" class="mytext"> <br><br><br>

<select id="commodityname" class="elegant-aero" name="commodityname" onchange="updateText('commodityname')">
<option value disabled selected> -- select an option -- </option>
                        <option value="corn">Corn, bushel</option>
                        <option value="oats">Oats, bushel</option>
                        <option value="roughrice">Rough Rice, hundredweight</option>
                        <option value="soybeans">Soybeans, bushel</option>
                        <option value="soybeanmeal">Soybean Meal, ton</option>
                        <option value="soybeanoil">Soybean Oil, pound</option>
                        <option value="canola">Canola, metric ton</option>
                        <option value="wheat">Wheat, bushel</option>
                        <option value="springwheat">Spring Wheat, bushel</option>
                        <option value="redwheat">Red Wheat, bushel</option>
                        <option value="minnesotawheat">Minnesota Wheat, bushel</option>
                        <option value="chicagowheat">Chicago Wheat, bushel</option>
                        <option value="kcwheat">K.C. Wheat, bushel</option>
                        <option value="barley">Barley, bushel</option>
                        <option value="distillerdriedgrains">Distiller Dried Grains, bushel</option>
                        <option value="milk">Milk, pounds</option>
                        <option value="class3milk">Class III Milk, pounds</option>
                        <option value="class4milk">Class IV Milk, pounds</option>
                        <option value="skimmedmilk">Skimmed Milk, pounds</option>
                        <option value="cheese">Cheese, pound</option>
                        <option value="butter">Butter, pound</option>
                        <option value="cocoa">Cocoa, metric ton</option>
                        <option value="coffee">Coffee, pound</option>
                        <option value="coffeec">Coffee C, pound</option>
                        <option value="coffeerobustica">Coffee Robustica, pound</option>
                        <option value="coffeearabica">Coffee Arabica, pound</option>
                        <option value="cottonno2">Cotton No.2, pound</option>
                        <option value="sugarno11">Sugar No. 11, pound</option>
                        <option value="sugarno14">Sugar No. 14</option>
                        <option value="frozenconcentratedorangejuice">Frozen Concentrated Orange Juice, pound</option>
                        <option value="wool">Wool, kilogram</option>
                        <option value="leanhogs">Lean Hogs, pound</option>
                        <option value="livecattle">Live Cattle, pound</option>
                        <option value="feedercattle">Feeder Cattle, pound</option>
                        <option value="wticrudeoil">WTI Crude Oil, barrel</option>
                        <option value="brentcrude">Brent Crude, barrel</option>
                        <option value="crudeoil">Crude Oil, barrel</option>
                        <option value="crudeoil">Light Crude Oil, barrel</option>
                        <option value="gasoil">Gasoil</option>
                        <option value="unleaded gas">Unleaded Gas, gallon</option>
                        <option value="ethanol">Ethanol</option>
                        <option value="kerosene">Kerosene</option>
                        <option value="naturalgas">Natural Gas, million BTUs</option>
                        <option value="heatingoil">Heating Oil, gallon</option>
                        <option value="gulfcoastgasoline">Gulf Coast Gasoline, gallon</option>
                        <option value="rbobgasoline">RBOB Gasoline, gallon</option>
                        <option value="propane">Propane, gallon</option>
                        <option value="purifiedterephthalicacid">Purified Terephthalic Acid, ton</option>
                        <option value="copper">Copper, metric ton</option>
                        <option value="lead">Lead, metric ton</option>
                        <option value="zinc">Zinc, metric ton</option>
                        <option value="tin">Tin, metric ton</option>
                        <option value="aluminum">Aluminum, metric ton</option>
                        <option value="aluminumalloy">Aluminum Alloy, metric ton</option>
                        <option value="nickel">Nickel, metric ton</option>
                        <option value="cobalt">Cobalt, metric ton</option>
                        <option value="coal">Coal, ton</option>
                        <option value="molybdenum">Molybdenum, metric ton</option>
                        <option value="recycledsteel">Recycled Steel, metric ton</option>
                        <option value="steel">Steel, metric ton</option>
                        <option value="gold">Gold, troy ounce</option>
                        <option value="silver">Silver, troy ounce</option>
                        <option value="platinum">Platinum, troy ounce</option>
                        <option value="palladium">Palladium, troy ounce</option>
                        <option value="rhodium">Rhodium, troy ounce</option>
                        <option value="palmoil">Palm Oil, kilogram</option>
                        <option value="rubber">Rubber, kilogram</option>
                        <option value="wood">Wood, 1000 board feet</option>
                        <option value="polypropylene">Polypropylene, pound</option>
                        <option value="linearlowdensitypolypropylene">Linear Low Density Polypropylene, pound</option>
                        <option value="ecxemissions">ECX Emissions</option>
                        <option value="carbonoffsets">Carbon Offsets</option>
                        <option value="renewableenergycertificates">Renewable Energy Certificates</option>
                        <option value="whitecertificates">White Certificates</option>
                </select>


        <p><b>On or before the delivery date that is this many days in the future:</b></p>
        <input type="text" name="deliverydate" id="deliverydate" placeholder="Enter A Number of Days" class="mytext" onchange="createTimestamp('deliverydate')">

        <p><b>Which is represented by the Unix timestamp: </b></p>
        </p><input type="text" value="" id="deliverydateTimestamp" class="mytext" name="deliverydateTimestamp" /> 





<label for="price">At the predetermined price (i.e., the </i>futures</i> price) of:</label><br>
  <input type="text" name="price" id="price" placeholder="Enter A Price. e.g. 10.99" class="mytext"><br><br><br>  

  <label for="margin">And the margin for this contract is:</label><br>
  <input type="text" name="margin" id="margin" placeholder="Enter A Margin. e.g. 1.99" class="mytext"><br><br><br>  

<input type="submit" value="Save" onclick="add4()">
  </form>


        <script>
        function add4() {
        var price = parseFloat(document.getElementById('price').value);
        var units = parseInt(document.getElementById('numberofunits').value); 
        var contractValue = parseFloat(parseFloat(price, 10) * parseInt(units, 10));
        var buyerAddress = document.getElementById('buyerethereumaddress').value;
        var sellerAddress = document.getElementById('sellerethereumaddress').value;
        var commodity2 = document.getElementById('commodityname').value;
        var unitsString = units.toString();
        var assetString = unitsString+commodity2;
        var deliverydateTimestamp2 = document.getElementById('deliverydateTimestamp').value;
        var margin2 = parseFloat(document.getElementById('margin').value);
        document.getElementById("contractfield4").value = "contract MyFuture{\n\naddress buyer = msg.sender;\naddress seller = "+buyerAddress+";\nvar contractvalue = "+contractValue+";\nasset= "+assetString+";\nuint constant deliverydate ="+deliverydateTimestamp2+";\nbool cancelled = false;\n"+sellerAddress+".send("+margin2+");\n\nfunction myDeliveryDate(transactionId, spotPrice){\nif((msg.value>= contractvalue) && (now => deliverydate) && cancelled == false) {\n"+sellerAddress+".send(msg.value);\nsendareceiptofthetransactiontotheprimisee;}\n\nfunction myCancel(){\n"+sellerAddress+".send("+margin2+");suicide(buyerAddress);}\n\n}";
        }
        </script>

        <br><br>
        <textarea rows="20" cols="80" type="text" id="contractfield4" name="contractfield4" form="usrform">
        </textarea>
        <br><br>

        <script type="text/javascript">
        function createTimestamp(type) { 
        var deliveryDate = parseInt(document.getElementById('deliverydate').value);
        var currentUnix = Math.round(+new Date()/1000);
        var deliveryUnix = (parseInt(deliveryDate, 10) * 24 * 60 * 60) + parseInt(currentUnix, 10);
        var id = type+'Timestamp';
        document.getElementById("deliverydateTimestamp").value = deliveryUnix;
        }
        </script>


        <p><b>Using Alethzero (Ethereum’s C++ GUI), send an unaddressed transaction with this code in its data field. Be sure to endow your contract (via amount field) with an amount of ethere greater than the sum of your margin and contract value. Sending that transaction will inject your contract onto the blockchain.
        <br><br>
        Once you have injected the contract on the blockchain, a transaction address will be assigned to it. If the delivery date arrives and you wish to execute your contract, plug in a transaction address and spot price below. Then, put the code generated here into the data field of a new message —this time, addressed to the transaction address— and watch your contract execute:<br><br></b></p>
  	

        <p><b>The Transaction ID Is:</b></p>
        <input type="text" name="transactionid" id="transactionid">(A 60 character string. E.g., g6aaae06717f25095eab8250369a437e549160a4g6aaae06717f25095eab)<br><br><br>

        <p><b>The Spot Price —I.e., the Current Price of The Commodity— Is:</b></p>
        <input type="number" name="spotprice" id="spotprice" step="any">(enter the spot price here)<br><br><br>
        
        <input type="button" value="Create Code to Send Transaction on Delivery Date" onclick="add2()"/><br><br>

        <script>
        function add2() {
        var transactionId = document.getElementById('transactionid').value;
        var spotPrice = parseFloat(document.getElementById('spotprice').value);
        document.getElementById("contractfield2").value = "contract MyMaturity{\n\nMyFuture feed;\n\nfunction setFeed(address addr){feed = MyFuture(addr);}\n\nfunction callFeed(){feed.MyDeliveryDate();}\n\ncallFeed("+transactionId+","+spotPrice+");\n\n}";
        document.getElementById("contractfield3").value = "contract myCancellation{\n\nMyFuture feed;\n\nfunction setFeed(address add){feed = MyFuture(addr);}\n\nfunction callFeed(){feed.myCancel();}\n\ncallFeed();\n\n}";
        }
        </script>

        <textarea rows="15" cols="80" type="text" id="contractfield2">
        </textarea>

        <br><br>
        <p><b>Lastly, if you wish to cancel your futures contract, send a transaction, addressed to the transaction ID and with this code in the data field:</b></p><br> 
        <textarea rows="10" cols="80" type="text" id="contractfield3">
        </textarea>





        
        <br><br>
        <footer class="footer">
            <p>&copy; Bill Marino 2015</p>
        </footer>
 
    </div>
</body>
 
{% endblock %}