<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Ethereum Derivatives Builder</title>

    <link rel=stylesheet type=text/css
          href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-deep_purple.min.css">
    <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
    <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">-->
        <!--<link rel=stylesheet type=text/css href="/static/css/style.css">-->
        <!--<link rel=stylesheet type=text/css href="/static/css/home.css">-->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
.demo-layout-transparent {
  background: url('https://images.unsplash.com/photo-1424894408462-1c89797f2305?ixlib=rb-0.3.5&q=80&fm=jpg&s=42e7627aa059098be72974d544c04f2f') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
</style>

<!-- Square card -->
<style>
.demo-card-wide.mdl-card {
  width:100%;
  height:100%;
  color: #341151;
    margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-right: 70px;
      padding: 70px;
    }
</style>



<style>
h1 {
    text-align: center;
}
</style>

<style>
   .mdl-textfield {
  width: 50%;
}
</style>

<body class="mdl-demo mdl-color--black mdl-color-text--grey-400 mdl-base">
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Ethereum Derivatives</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">{% if current_user.is_authenticated %}
  You are logged in as: {{ current_user.email }}
{% endif %}</a>
        <a class="mdl-navigation__link" href="/register">Register</a>
        <a class="mdl-navigation__link" href="/login">Log In</a>
        <a class="mdl-navigation__link" href="/logout">Log Out</a>
        <a class="mdl-navigation__link" href="/mycontracts">Your Contracts</a>
        <a class="mdl-navigation__link" href="/spotprices">Current Spot Prices</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Create Derivatives</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/futureethereum">Create Ethereum Future</a>
      <a class="mdl-navigation__link" href="/swapethereum">Create Ethereum Swap</a>
      <a class="mdl-navigation__link" href="/putoptionethereum">Create Ethereum Put Option</a>
      <a class="mdl-navigation__link" href="/calloptionethereum">Create Ethereum Call Option</a>
      <a class="mdl-navigation__link" href="/mycontracts">Your Contracts</a>
      <a class="mdl-navigation__link" href="/spotprices">Current Spot Prices</a>
      <a class="mdl-navigation__link" href="/register">Register</a>
      <a class="mdl-navigation__link" href="/login">Log In</a>
      <a class="mdl-navigation__link" href="/calloptionethereum">Log Out</a>
    </nav>
  </div>
  <main class="mdl-layout__content">

                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">

<!--<head>-->
<!--    <title>Blockchain Derivative Builder</title>-->
<!--    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">-->

        <!--<link rel="shortcut icon" href="/favicon.ico">-->
<!--</head>-->

<!--<body>-->
<!--    -->
<!--        <div class="header">-->
<!--            <nav>-->
<!--                <ul class="nav nav-pills pull-right">-->
<!--                    <li role="presentation"><a href="/">Home</a>-->
<!--                    </li>-->
<!--                    <li role="presentation"><a href="/login">Log In</a>-->
<!--                    </li>-->
<!--                    <li role="presentation"><a href="/logout">Log Out</a>-->
<!--                    </li>-->
<!--                    <li role="presentation"><a href="/register">Register</a>-->
<!--                    </li>-->
<!--                    <li role="presentation"><a href="/spotprices">Spot Prices</a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->
<!-- -->
 <!--<br><br> -->
<!--        <div class="jumbotron">-->
            <h1>Ethereum Derivative Builder</h1>
<!--            <p class="lead"></p>-->

            <h4><a href="/register">Register to Create An Account</a></h4>
<h4><a href="/login">Already Registered? Log In</a></h4>


        <h4>Or Just Get Started by Choosing the Derivative You Wish to Create:</h4>
        <h4><a href="/futureethereum">Future</a></h4>
        <h4><a href="/putoptionethereum">Put Option</a></h4>
        <h4><a href="/calloptionethereum">Call Option</a></h4>
        <h4><a href="/swapethereum">Swap</a></h4><br>
 
            <h4><a href="/tutorial">Still Confused? Here's How It All Works</a></h4><br><br>


<div class="mdl-card__actions mdl-card--border">

  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
                </section>

  </main>
</div>

        <footer class="footer">
            <p>&copy; Bill Marino 2015</p>
        </footer>

    </div>
</body>

</html>

