{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
  You are logged in as: {{ current_user.email }}!
{% endif %}

<head>
    <title>Blockchain Derivative Builder</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>
    
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Log In</a>
                    </li>
                    <li role="presentation"><a href="/logout">Log Out</a>
                    </li>
                    <li role="presentation"><a href="/register">Register</a>
                    </li>
{% if current_user.is_authenticated %}
    <li role="presentation"><a href="/mycontracts">My Contracts</a></li>
{% endif %}
                </ul>
            </nav>
        </div>
 
 <br><br> 
        <div class="jumbotron">
            <h1>Blockchain Derivative Builder</h1>
            <p class="lead"></p>

            <p><a class="btn btn-lg btn-success" href="/register" role="button">Register to Create An Account</a>
            </p><br> 
<p><a class="btn btn-lg btn-success" href="/login" role="button">Already Registered? Log In</a>
            </p>
        </div><br> 

        <h2>        
        <span>Or Just Get Started by Choosing a Type of Derivative & a Blockchain:</span> 
        <h2>

        <h2>        
        <span>
        <a href="/futureethereum">Future (Ethereum)</a></span>
        <h2>

        <h2>        
        <span>
        <a href="/putoptionethereum">Put Option (Ethereum)</a></span>
        <h2>

        <h2>        
        <span>
        <a href="/calloptionethereum">Call Option (Ethereum)</a></span>
        <h2>

        <h2>        
        <span>
        <a href="/swapethereum">Swap (Ethereum)</a><span>
        <h2>
 
        <footer class="footer">
            <p>&copy; Bill Marino 2015</p>
        </footer>
 
</body>

{% endblock %}