
{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
  You are logged in as: {{ current_user.email }}!
{% endif %}

<head>
    <title>Blockchain Derivatives Builder</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="/login">Log In</a>
                    </li>
                    <li role="presentation"><a href="/logout">Log Out</a>
                    </li>
<li role="presentation"><a href="/register">Register</a>
                    </li>
                </ul>
            </nav>
        </div>


  <h1>Log In</h1>
  <form action="" method="post" name="login">
      <p>
          Please Enter Your Email:<br>
          {{ form.email }}<br>
          Please Enter Your Password:<br>
          {{ form.password }}<br>
      </p>
      <p><input type="submit" value="Sign In"></p>
  </form>

</body>

{% endblock %}