<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Ethereum Derivatives Builder</title>

    <link rel=stylesheet type=text/css
          href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-deep_purple.min.css">
    <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
    <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">-->
        <!--<link rel=stylesheet type=text/css href="/static/css/style.css">-->
        <!--<link rel=stylesheet type=text/css href="/static/css/home.css">-->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
.demo-layout-transparent {
  background: url('https://images.unsplash.com/photo-1424894408462-1c89797f2305?ixlib=rb-0.3.5&q=80&fm=jpg&s=42e7627aa059098be72974d544c04f2f') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
</style>

<!-- Square card -->
<style>
.demo-card-wide.mdl-card {
  width:100%;
  height:100%;
  color: #341151;
    margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 70px;
  margin-right: 70px;
      padding: 70px;
    }
</style>

<style>
table {
    table-layout: fixed;
    word-wrap: break-word;
   word-break: break-all;
}
</style>

<style>
.mdl-data-table.mdl-js-data-table {
  width:100%;
align-items: center;
    font-size: 1em;
    table-layout: fixed;
    word-wrap: break-word;
   word-break: break-all;
    }
</style>

<style>
.mdl-data-table__cell {
        table-layout: fixed;
    word-wrap: break-word;
   word-break: break-all;
      color: #FF0000;
      height: 200px;
}
</style>

<style>
.mdl-cell {
        margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
      padding: 20px;
      width:100%;

}
</style>

<style>
h1 {
    text-align: center;
}
</style>

<style>
   .mdl-textfield {
  width: 50%;
}
</style>

<body class="mdl-demo mdl-color--black mdl-color-text--grey-400 mdl-base">
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Ethereum Derivatives</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">{% if current_user.is_authenticated %}
  You are logged in as: {{ current_user.email }}
{% endif %}</a>
        <a class="mdl-navigation__link" href="/register">Register</a>
        <a class="mdl-navigation__link" href="/login">Log In</a>
        <a class="mdl-navigation__link" href="/logout">Log Out</a>
        <a class="mdl-navigation__link" href="/mycontracts">My Contracts</a>
        <a class="mdl-navigation__link" href="/spotprices">Current Spot Prices</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Create Derivatives</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/futureethereum">Create Ethereum Future</a>
      <a class="mdl-navigation__link" href="/swapethereum">Create Ethereum Swap</a>
      <a class="mdl-navigation__link" href="/putoptionethereum">Create Ethereum Put Option</a>
    </nav>
  </div>
  <main class="mdl-layout__content">

                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

<div class="demo-card-wide mdl-card mdl-shadow--2dp">


  <h1>My Contracts</h1>

{% for c in contracts %}
{% if c.blockchainderivativesid|int == current_user.id|int %}
                    <div class="android-card-container mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
{{ c.deliverydate }}
                               <h5>Details:</h5> Buyer: {{ c.buyerethereumaddress }} <br>Seller: {{ c.sellerethereumaddress }} <br> Terms: {{ c.numberofunits }} of {{ c.commodityname }} at {{ c.price }} each with a margin of {{ c.margin }} <br><br>
      <h5>Initialization Code:</h5> {{ c.soliditycodeinitial }} <br><br>
              <h5>Delivery Date Code:</h5> {{ c.soliditycodedeliverydate }} <br><br>
              <h5>Cancellation Code:</h5> {{ c.soliditycodecancel }}
                                                    </div>
                                                                            </div>
                        <br>
{% endif %}
{% endfor %}

                        <br>                        <br>                        <br>                        <br>


        <!--<table class="mdl-data-table mdl-js-data-table mdl-shadow&#45;&#45;2dp" table align="center">-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th class="mdl-data-table__cell&#45;&#45;non-numeric">Details</th>-->
      <!--<th>Initialization Code</th>-->
              <!--<th>Delivery Date Code</th>-->
              <!--<th>Cancellation Code</th>-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
<!--{% for c in contracts %}-->
<!--{% if c.blockchainderivativesid|int == current_user.id|int %}-->
    <!--<tr>-->
      <!--<td class="mdl-data-table__cell">Buyer: {{ c.buyerethereumaddress }} Seller: {{ c.sellerethereumaddress }} <br> Contract for {{ c.numberofunits }} of {{ c.commodityname }} at {{ c.price }} each with a margin of {{ c.margin }}</td>-->
      <!--<td>{{ c.soliditycodeinitial }} </td>-->
              <!--<td>{{ c.soliditycodedeliverydate }} </td>-->
              <!--<td>{{ c.soliditycodecancel }} </td>-->
    <!--</tr>-->
<!--{% endif %}-->
<!--{% endfor %}-->
  <!--</tbody>-->
<!--</table>-->
<!--<br>-->


<!--<table cellspacing='0'>-->

<!--<thead>-->
		<!--<tr>-->
			<!--<th>Details</th>-->
			<!--<th>Initialization Code</th>-->
			<!--<th>Delivery Date Code</th>-->
			<!--<th>Cancellation Code</th>-->
		<!--</tr>-->
	<!--</thead>-->
<!--<tbody>-->


<!--{% for c in contracts %}-->

<!--{% if c.blockchainderivativesid|int == current_user.id|int %}-->

<!--<tr>-->
			<!--<td> Buyer: {{ c.buyerethereumaddress }} Seller: {{ c.sellerethereumaddress }} <br> Contract for {{ c.numberofunits }} of {{ c.commodityname }} at {{ c.price }} each with a margin of {{ c.margin }}</td>-->
			<!--<td> {{ c.soliditycodeinitial }} </td>-->
			<!--<td> {{ c.soliditycodedeliverydate }}</td>-->
			<!--<td> {{ c.soliditycodecancel }}</td>-->
		<!--</tr>-->

<!--{% endif %}-->

<!--{% endfor %}-->
	<!--</tbody>-->
<!--</table>-->



        <!--<br><br>-->
        <!--<p><b>Using Alethzero (Ethereum’s C++ GUI), send an unaddressed transaction with this code in its data field. Be sure to endow your contract (via amount field) with an amount of ethere greater than the sum of your margin and contract value. Sending that transaction will inject your contract onto the blockchain.-->
        <!--<br><br>-->
        <!--Once you have injected the contract on the blockchain, a transaction address will be assigned to it. If the delivery date arrives and you wish to execute your contract, plug in a transaction address and spot price below. Then, put the code generated here into the data field of a new message —this time, addressed to the transaction address— and watch your contract execute:<br><br></b></p>-->
  	<!-- -->

        <!--<p><b>The Transaction ID Is:</b></p>-->
        <!--<input type="text" name="transactionid" id="transactionid">(A 60 character string. E.g., g6aaae06717f25095eab8250369a437e549160a4g6aaae06717f25095eab)<br><br><br>-->

        <!--<p><b>The Spot Price —I.e., the Current Price of The Commodity— Is:</b></p>-->
        <!--<input type="number" name="spotprice" id="spotprice" step="any">(enter the spot price here)<br><br><br>-->

 <!--<br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br> <br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br>-->


        <!--<input type="button" value="Create Code to Send Transaction on Delivery Date" onclick="add2()"/><br><br>-->

        <!--<script>-->
        <!--function add2() {-->
        <!--var transactionId = document.getElementById('transactionid').value;-->
        <!--var spotPrice = document.getElementById('spotprice').value;-->
        <!--document.getElementById("contractfield2").value = "contract MyMaturity{\n\nMyFuture feed;\n\nfunction setFeed(address addr){feed = MyFuture(addr);}\n\nfunction callFeed(){feed.MyDeliveryDate();}\n\ncallFeed("+transactionId+","+spotPrice+");\n\n}";-->
        <!--document.getElementById("contractfield3").value = "contract myCancellation{\n\nMyFuture feed;\n\nfunction setFeed(address add){feed = MyFuture(addr);}\n\nfunction callFeed(){feed.myCancel();}\n\ncallFeed();\n\n}";-->
        <!--}-->
        <!--</script>-->

        <!--<textarea rows="15" cols="80" type="text" id="contractfield2" name="contractfield2">-->
        <!--</textarea>-->

        <!--<br><br>-->
        <!--<p><b>Lastly, if you wish to cancel your futures contract, send a transaction, addressed to the transaction ID and with this code in the data field:</b></p><br> -->
        <!--<textarea rows="10" cols="80" type="text" id="contractfield3" name="contractfield3">-->
        <!--</textarea>-->




<div class="mdl-card__actions mdl-card--border">

  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
                </section>

  </main>
</div>

        <footer class="footer">
            <p>&copy; Bill Marino 2015</p>
        </footer>

    </div>
</body>

</html>