{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
  You are logged in as: {{ current_user.email }}!
  Your user id is: {{ current_user.id }}!
  The int version of your user id is: {{ current_user.id|int }}!
{% endif %}

<head>
    <title>Blockchain Derivatives Builder</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Log In</a>
                    </li>
                    <li role="presentation"><a href="/logout">Log Out</a>
                    </li>
<li role="presentation"><a href="/register">Register</a>
                    </li>
                </ul>
            </nav>
        </div>

  <h1>My Contracts</h1>
<table cellspacing='0'>

<thead>
		<tr>
			<th>Details</th>
			<th>Initialization Code</th>
			<th>Delivery Date Code</th>
			<th>Cancellation Code</th>
		</tr>
	</thead>
<tbody>


{% for c in contracts %}

{% if c.blockchainderivativesid|int == current_user.id|int %}

<tr>
			<td> Buyer: {{ c.buyerethereumaddress }} Seller: {{ c.sellerethereumaddress }} <br> Contract for {{ c.numberofunits }} of {{ c.commodityname }} at {{ c.price }} each with a margin of {{ c.margin }}</td>
			<td> {{ c.soliditycodeinitial }} </td>
			<td> {{ c.soliditycodedeliverydate }}</td>
			<td> {{ c.soliditycodecancel }}</td>
		</tr>

{% endif %}

{% endfor %}
	</tbody>
</table>

{% endblock %}