{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
  You are logged in as:  {{ current_user.email }}
{% endif %}

<head>
    <title>Blockchain Derivatives Builder</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Log In</a>
                    </li>
                    <li role="presentation"><a href="/logout">Log Out</a>
                    </li>
<li role="presentation"><a href="/register">Register</a>
                    </li>
                </ul>
            </nav>
        </div>

  <h1>My Contracts</h1>
<br><br>
<p><b>For each of the contracts you have created, here is the Solidity initialization code (that you can inject directly onto Ethereum using Geth), the code you’ll want to send on the delivery date to finalize the exchange, and the code to cancel the derivative.</b></p>
<br><br>
<table cellspacing='0'>

<thead>
		<tr>
			<th>Details</th>
			<th>Initialization Code</th>
			<th>Delivery Date Code</th>
			<th>Cancellation Code</th>
		</tr>
	</thead>
<tbody>


{% for c in contracts %}

{% if c.blockchainderivativesid|int == current_user.id|int %}

<tr>
			<td> Buyer: {{ c.buyerethereumaddress }} Seller: {{ c.sellerethereumaddress }} <br> Contract for {{ c.numberofunits }} of {{ c.commodityname }} at {{ c.price }} each with a margin of {{ c.margin }}</td>
			<td> {{ c.soliditycodeinitial }} </td>
			<td> {{ c.soliditycodedeliverydate }}</td>
			<td> {{ c.soliditycodecancel }}</td>
		</tr>

{% endif %}

{% endfor %}
	</tbody>
</table>



        <!--<br><br>-->
        <!--<p><b>Using Alethzero (Ethereum’s C++ GUI), send an unaddressed transaction with this code in its data field. Be sure to endow your contract (via amount field) with an amount of ethere greater than the sum of your margin and contract value. Sending that transaction will inject your contract onto the blockchain.-->
        <!--<br><br>-->
        <!--Once you have injected the contract on the blockchain, a transaction address will be assigned to it. If the delivery date arrives and you wish to execute your contract, plug in a transaction address and spot price below. Then, put the code generated here into the data field of a new message —this time, addressed to the transaction address— and watch your contract execute:<br><br></b></p>-->
  	<!-- -->

        <!--<p><b>The Transaction ID Is:</b></p>-->
        <!--<input type="text" name="transactionid" id="transactionid">(A 60 character string. E.g., g6aaae06717f25095eab8250369a437e549160a4g6aaae06717f25095eab)<br><br><br>-->

        <!--<p><b>The Spot Price —I.e., the Current Price of The Commodity— Is:</b></p>-->
        <!--<input type="number" name="spotprice" id="spotprice" step="any">(enter the spot price here)<br><br><br>-->

 <!--<br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br>        <br/><br> <br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br><br/><br>-->


        <!--<input type="button" value="Create Code to Send Transaction on Delivery Date" onclick="add2()"/><br><br>-->

        <!--<script>-->
        <!--function add2() {-->
        <!--var transactionId = document.getElementById('transactionid').value;-->
        <!--var spotPrice = document.getElementById('spotprice').value;-->
        <!--document.getElementById("contractfield2").value = "contract MyMaturity{\n\nMyFuture feed;\n\nfunction setFeed(address addr){feed = MyFuture(addr);}\n\nfunction callFeed(){feed.MyDeliveryDate();}\n\ncallFeed("+transactionId+","+spotPrice+");\n\n}";-->
        <!--document.getElementById("contractfield3").value = "contract myCancellation{\n\nMyFuture feed;\n\nfunction setFeed(address add){feed = MyFuture(addr);}\n\nfunction callFeed(){feed.myCancel();}\n\ncallFeed();\n\n}";-->
        <!--}-->
        <!--</script>-->

        <!--<textarea rows="15" cols="80" type="text" id="contractfield2" name="contractfield2">-->
        <!--</textarea>-->

        <!--<br><br>-->
        <!--<p><b>Lastly, if you wish to cancel your futures contract, send a transaction, addressed to the transaction ID and with this code in the data field:</b></p><br> -->
        <!--<textarea rows="10" cols="80" type="text" id="contractfield3" name="contractfield3">-->
        <!--</textarea>-->




{% endblock %}