

{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
  You are logged in as:  {{ current_user.email }}
{% endif %}

<head>
    <title>Blockchain Derivatives Builder</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Log In</a>
                    </li>
                    <li role="presentation"><a href="/logout">Log Out</a>
                    </li>
<li role="presentation"><a href="/register">Register</a>
                    </li>
                </ul>
            </nav>
        </div>

  <h1>Spot Prices</h1>
<br><br>
<p><b></b></p>
<br><br>
<table cellspacing='0'>

	  <form action="{{ url_for('spotprices2') }}" method=post class=add-entry id="usrform">
<label for="commodity">Enter a Commodity:</label><br>
  <input type="text" name="commodity" id="commodity" placeholder="Enter A Commodity" class="mytext">
<br><br><br>

  <label for="spotprice">Enter a Spot Price:</label><br>
  <input type="text" name="spotprice" id="spotprice" placeholder="Enter a New Spot Price" class="mytext"> <br><br><br>


<input type="submit" value="Save">
  </form>



<thead>
		<tr>
			<th>Commodity</th>
			<th>Freshest Spot Price</th>
		</tr>
	</thead>
<tbody>

<!--{{ spotprices }}-->
<!--{% for item in spotprices %}-->
<!--{{item.commodity}}-->

<!--{% endfor %}-->

<br><br>
{% for s in spotprices %}


<tr>
			<td> {{ s.commodity }}</td>
			<td> {{ s.spotprice }} </td>
		</tr>


{% endfor %}
	</tbody>
</table>

{% endblock %}