

{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
  You are logged in as:  {{ current_user.email }}
{% endif %}

<head>
    <title>Blockchain Derivatives Builder</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/login">Log In</a>
                    </li>
                    <li role="presentation"><a href="/logout">Log Out</a>
                    </li>
<li role="presentation"><a href="/register">Register</a>
                    </li>
                </ul>
            </nav>
        </div>

  <h1>Most Recent Spot Prices</h1>

<table cellspacing='0'>
<thead>
		<tr>
			<th></th>
		</tr>
	</thead>
<tbody>

{% for s in spotPrices %}
<tr>
			<td> {{ s }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
 
{% endblock %}